ADMIN_EMAIL=""
ADMIN_PASSWORD=""
JWT_SECRET=""
API_TESTER_URL=""
API_AUTH_TOKEN=""

# Frontend Configuration 
NEXT_PUBLIC_API_TESTER_BASE=""
NEXT_PUBLIC_WEB_SCANNER_BASE=""
NEXT_PUBLIC_BACKEND_BEARER=""
NEXT_PUBLIC_AUTH_CHECK_PATH=""

# Database tester envs
DATABASE_SCANNER_URL=""
NEXT_PUBLIC_DATABASE_SCANNER_URL=""
NEXT_PUBLIC_DATABASE_SCANNER_WEB_SOCKET_URL=""
